@font-face {
  font-family: "Breathney";
  src: url("./Breathney Demo.ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "Breathney";
  background: url("./icon.png");
}
